<p>Hello {{ name }},</p>
<p>Your order has been placed to Muslim Couples Retreat.Your reserved package is {{packageName}}. Admin will get to back soon for confirmation. </p>
<div style="display: :flex;">
<p style="font-weight:bold;">Amount given : </p>
<h2 style="font-weight:bold;">{{bookingMoney}}</h2>
</div>